.create-campaign{
    display:flex;
}

.right-home-title{
    margin-top:-0.1rem;
}

.right-cc{
  flex:6;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../assets/hands.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.right-cc > .right-cc-btn-group > .btn-right{
    width: 40rem;
    height:3.5rem;
    text-transform: uppercase;
    font-size: large;
    margin:0.5rem;
    margin-top:-3%;
}

.right-cc-btn-group{
    width:55.2rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.right-cc-data-container{
    display:flex;
    gap:0.8rem;
}

.right-cc-data-container-item{
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: space-between;
    padding-left:2rem;
    padding-top:1rem;
    background-color: var(--sideBar);
    width:15.7rem;
    height:18rem;
    border-radius:10px; 
}

.right-cc-data-container-item-data-2>div{
    margin-top:0.1rem;
}

.right-cc-data-container-item-data>div{
  
   margin-top:1rem;
}

.right-cc-data-container-item-btn{
    margin: 0 17%;
    margin-bottom:0.5rem;
}








