.campaign-list{
    display:flex;
}

.right-cp{
  flex:6;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../assets/hands.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.right-cp > .right-cp-btn-group{
    display:flex;
    justify-content: space-between;
    margin-top: -2rem;
    width:38rem;
}

.right-cp > .right-cp-btn-group > .btn-right{
    width: 15rem;
    height:2.5rem;
    text-transform: uppercase;
    margin:0.5rem;
}

.right-cp-data-container{
    display:flex;
    justify-content: space-between;
    gap:7rem;
}

.right-cp-data-container-item{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: var(--sideBar);
    width:14rem;
    height:2.5rem;
    padding-right:1rem;
    border-radius:10px;
    margin-top:0.5rem;
    font-weight:500;
}