.admin{
    display:flex;
}

.right-a{
  flex:6;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../assets/hands.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.right-a > .btn-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height:2.5rem;
    text-transform: uppercase;
    margin:0.5rem;
}